@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  /* font-size: 0.8rem; */
}

span {
  font-size: 0.8rem;
}

.primary-color {
  background-color: #fb5533;
}

.container-wrapper {
  padding: 3px 5rem;
}

.bg-primary {
  color: #fff;
  background: #f53d2d;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.align-right {
  justify-content: right;
}

.align-left {
  justify-content: left;
}

.align-center {
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 100;
}

.navbar div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.right-navbar i {
  font-size: 15px;
}

.flex {
  display: flex;
}

.w-inherit {
  width: inherit;
}

.width-full {
  flex-basis: 100%;
}

.width-50 {
  flex-basis: 50%;
}

.width-15 {
  flex-basis: 15%;
}

.width-70 {
  flex-basis: 70%;
}

.break {
  flex-basis: 100%;
  width: 0;
}

.header {
  height: 30px;
}

.main {
  margin-top: 1.2rem;
}

.header ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  padding: 0 8px;
}

.navbar ul li a:hover {
  color: #ddd;
}

.header ul.rc li {
  display: flex;
  border-right: 1px solid #ddd;
  /* line-height: 1; */
  align-items: center;
}

.header ul li:last-child {
  border: none;
}

.bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.search-form input {
  padding: 12px 10px;
  border-radius: 2px;
  border: none;
}

.search-icon {
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 2px;
  cursor: pointer;
}

.search-icon i {
  font-size: 1rem;
  padding: 10px 20px;
}

.logo-container {
  /* min-width: 140px; */
  position: relative;
  top: -10px;
  cursor: pointer;
}

.logo-container span {
  font-weight: bold;
  margin-left: 3px;
  font-size: 1.4rem;
}

.logo-container .logo {
  font-size: 3rem;
  position: relative;
  top: -4px;
}

.logo-container .logo-name {
  font-size: 1.5rem;
  margin-left: 7px;
}

.block {
  display: block !important;
}

.socials .fa-brands {
  font-size: 15px;
  margin: 0 4px;
}

.cart i {
  font-size: 1.4rem;
}

.sign-up {
  display: flex;
  align-items: center;
  line-height: 1;
}

.border-right {
  border-right: 1px solid #ddd;
}

.categories ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.categories ul li {
  margin: 0;
}

.categories ul li:first-child {
  padding: 0;
}

.categories ul li span {
  font-size: 0.7rem;
}

.hover:hover {
  opacity: 0.9;
}

.pointer {
  cursor: pointer;
}

/* Medium devices */
@media only screen and (max-width: 720px) {
  .container-wrapper {
    padding: 3px 1rem;
  }
}
